<div class="container">
  <h1><%= @post.title %></h1>
  <h4><%= @post.body %></h4>
    <ul>
      <% @post.tags.each do |tag| %>
        <li><a href="/tag/<%= tag.id %>"><%= tag.name %></a></li>
      <% end %>
    </ul>
  <% if current_user && current_user.posts.include?(@post)%>
    <a href="/post/<%= @post.id %>/edit">Edit</a>
  <% end %>

  <br>
  <a href="/posts">Back to Posts</a>
</div>
